version: 2

references:
  container_openjdk8: &container_openjdk8
    docker:
      - image: openjdk:8-jdk
  container_openjdk11: &container_openjdk11
    docker:
      - image: openjdk:11-jdk
  install_dependencies: &install_dependencies
    name: install dependencies
    command: |
      apt-get update -y && apt-get install -y build-essential maven
  install_docker: &install_docker
    name: Install Docker client
    command: |
      set -x
      VER="17.03.0-ce"
      curl -L -o /tmp/docker-$VER.tgz https://download.docker.com/linux/static/stable/x86_64/docker-$VER.tgz
      tar -xz -C /tmp -f /tmp/docker-$VER.tgz
      mv /tmp/docker/* /usr/bin

jobs:
  build_jdk8:
    <<: *container_openjdk8
    steps:
      - checkout
      - setup_remote_docker
      - run: *install_dependencies
      - run: *install_docker
      - run:
          name: build package
          command: |
            make clean
            make package
            make test
            make test-command
      - run:
          name: build docker image
          command: |
            make build-docker-version DOCKER_IMAGE_TAG="build-${CIRCLE_BUILD_NUM}"
  build_jdk11:
    <<: *container_openjdk11
    steps:
      - checkout
      - setup_remote_docker
      - run: *install_dependencies
      - run: *install_docker
      - run:
          name: build package
          command: |
            make clean
            make package
            make test
            make test-command
      - run:
          name: build docker image
          command: |
            make build-docker-version DOCKER_IMAGE_TAG="build-${CIRCLE_BUILD_NUM}"
  build_and_push:
    <<: *container_openjdk8
    steps:
      - checkout
      - setup_remote_docker
      - run: *install_dependencies
      - run: *install_docker
      - run:
          name: build package
          command: |
            make clean
            make package
            make test
            make test-command
      - run:
          name: build docker image
          command: |
            make build-docker-version DOCKER_IMAGE_TAG="$CIRCLE_TAG"
      - run:
          name: push docker image
          command: |
            docker login -u "$DOCKERHUB_USER" -p "$DOCKERHUB_PASS"
            make push-docker-version DOCKER_IMAGE_TAG="$CIRCLE_TAG"

workflows:
  version: 2
  build_workflow:
    jobs:
      - build_jdk8:
          filters:
            branches:
              only: /.*/
            tags:
              ignore: /.*/
      - build_jdk11:
          filters:
            branches:
              only: /.*/
            tags:
              ignore: /.*/
  build_and_push_workflow:
    jobs:
      - build_and_push:
          filters:
            tags:
              only: /.*/
            branches:
              ignore: /.*/
